<!---_OrderSummary-->
@model  App.Front.Models.ShoppingCart.ShoppingCartModel

<div>
    <div class="section">
        <div class="section-header os-header">

            <div class="os-header-heading">
                <h2 class="os-header-title">
                    Đặt hàng thành công
                </h2>                
                <span class="os-description">
                    Cám ơn bạn đã mua hàng!
                </span>

            </div>
        </div>
    </div>

    <div class="section thank-you-checkout-info">
        <div class="section-content">
            <div class="content-box">
                <div class="content-box-row content-box-row-padding content-box-row-no-border">
                    <h2>Thông tin đơn hàng</h2>
                </div>
                <div class="content-box-row content-box-row-padding">
                    <div class="section-content">
                        <div class="section-content-column">

                            <h3>Thông tin khách hàng</h3>
                            <div>
                                @RenderAddress(Model.OrderReviewData.BillingAddress)
                            </div>

                            <h3>Thông tin giao hàng</h3>
                              @RenderAddress(Model.OrderReviewData.ShippingAddress)                            

                            <h3>Phương thức thanh toán</h3>
                            <p>
                                @Model.OrderReviewData.PaymentMethod
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step-footer">

        <input type="submit" name="confirm" value="confirm" id="startconfirm" class="hidden" />
        <a class="step-footer-continue-btn btn" onclick="$('#startconfirm').trigger('click'); return false;">
            <span class="btn-content">Hoàn tất đơn hàng</span>
        </a>

        <p class="step-footer-info">
            <i class="icon icon-os-question"></i>
            <span>


                Cần hỗ trợ? <a href="">Liên hệ chúng tôi</a>
            </span>
        </p>
    </div>
</div>
@helper RenderAddress(App.FakeEntity.Common.AddressViewModel address)
{
if (address.FirstName != null)
{
        <strong>@Model.OrderReviewData.BillingAddress.FirstName</strong>
}
if (address.Address1 != null)
{
        <p> @address.Address1</p>
}
if (address.PhoneNumber != null)
{
        <p>Điện thoại: @address.PhoneNumber</p>
}
}
<!---/_OrderSummary-->